---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - networking.example.com
  resources:
  - sidecargenerators
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.example.com
  resources:
  - sidecargenerators/finalizers
  verbs:
  - update
- apiGroups:
  - networking.example.com
  resources:
  - sidecargenerators/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.istio.io
  resources:
  - sidecars
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.istio.io
  resources:
  - sidecars/status
  verbs:
  - get
