---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: sidecargenerators.networking.example.com
spec:
  group: networking.example.com
  names:
    kind: SidecarGenerator
    listKind: SidecarGeneratorList
    plural: sidecargenerators
    singular: sidecargenerator
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SidecarGenerator is the Schema for the sidecargenerators API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SidecarGeneratorSpec defines the desired state of SidecarGenerator.
            properties:
              insecureSkipTLSVerify:
                default: false
                description: InsecureSkipTLSVerify skips TLS certificate verification
                  when fetching the URL.
                type: boolean
              refreshPeriod:
                default: 1h
                description: RefreshPeriod is how often the operator will perform
                  a GET request to the specified URL to then update a Sidecar.
                type: string
              url:
                description: URL is the URL where to make a GET requst to fetch dependency
                  information.
                type: string
              workloadSelector:
                description: |-
                  `WorkloadSelector` specifies the criteria used to determine if the
                  `Gateway`, `Sidecar`, `EnvoyFilter`, `ServiceEntry`, or `DestinationRule`
                  configuration can be applied to a proxy. The matching criteria
                  includes the metadata associated with a proxy, workload instance
                  info such as labels attached to the pod/VM, or any other info that
                  the proxy provides to Istio during the initial handshake. If
                  multiple conditions are specified, all conditions need to match in
                  order for the workload instance to be selected. Currently, only
                  label based selection mechanism is supported.
                properties:
                  labels:
                    additionalProperties:
                      type: string
                    description: |-
                      One or more labels that indicate a specific set of pods/VMs
                      on which the configuration should be applied. The scope of
                      label search is restricted to the configuration namespace in which the
                      the resource is present.
                    maxProperties: 256
                    type: object
                type: object
            required:
            - refreshPeriod
            - url
            type: object
          status:
            description: SidecarGeneratorStatus defines the observed state of SidecarGenerator.
            properties:
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              lastSidecarGeneratorUpdate:
                description: LastSidecarGeneratorUpdate the last time when the URL
                  was fetched and sidecar updated.
                format: date-time
                type: string
              nextSidecarGeneratorUpdate:
                description: NextSidecarGeneratorUpdate the next time when the URL
                  will be fetched to update the sidecar.
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
